@charset "UTF-8";

@font-face {
  font-family: Helvetica Neue;
  font-display: swap;
  src: url("../fonts/HelveticaNeue Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Helvetica Neue;
  font-display: swap;
  src: url("../fonts/HelveticaNeue Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Helvetica Neue;
  font-display: swap;
  src: url("../fonts/HelveticaNeue Regular.woff2") format("woff2"), url("../fonts/HelveticaNeue Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #717171;
  line-height: 1;
  font-family: "Helvetica Neue";
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Helvetica Neue";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 88.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  font-style: normal;
  font-weight: 400;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

/* ========== LINKS ========== */

.footer-top {
  padding-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-links__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  text-align: center;
}

.footer-links__block_big {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.footer-links__block_small {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.footer-links__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 150%;
  color: #0C2434;
  margin-bottom: 1rem;
}

.footer-links li {
  font-size: 0.9375rem;
  line-height: 150%;
}

.footer-links li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.footer-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  text-align: center;
  padding-top: 1.25rem;
}

.footer-form__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 150%;
  color: #0C2434;
  margin-bottom: 1rem;
}

.footer-form__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  height: 3.4375rem;
  background: #EEF2F6;
  border-radius: 6px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-form .input {
  height: 100%;
  padding: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9375rem;
  line-height: 150%;
  background: #EEF2F6;
  color: #0C2434;
  outline: none;
}

.footer-form .button {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0C2434;
  border-radius: 6px;
  width: 6.9375rem;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 150%;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.footer-form__text {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 150%;
  color: #0C2434;
}

/* ======== End of LINKS, TOP BLOCK ======== */

/* ========== NAV BOTTOM ========== */

.footer-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 1.25rem 0;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #E4E4E4;
}

.footer-logo {
  opacity: 0.85;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.footer-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-nav ul li {
  white-space: nowrap;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #0C2434;
  opacity: 0.85;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  font-size: 0.875rem;
  line-height: 150%;
}

.footer-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.85;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

/* ======== End of NAV BOTTOM ======== */

/* ========== COPYWRITE ========== */

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 0;
}

.footer-bottom span {
  font-size: 0.875rem;
  line-height: 150%;
}

/* ======== End of COPYWRITE ======== */

/* ==========  ========== */

.buying {
  margin-top: 6.25rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 242, 246, 0)), color-stop(42.19%, #EEF2F6));
  background: -o-linear-gradient(top, rgba(238, 242, 246, 0) 0%, #EEF2F6 42.19%);
  background: linear-gradient(180deg, rgba(238, 242, 246, 0) 0%, #EEF2F6 42.19%);
}

.buying__title {
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #0C2434;
}

.buying__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buying__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: static;
  padding-bottom: 0;
}

.buying__decor {
  display: block;
  height: 0.1875rem;
  width: 6rem;
  background-color: 0C2434;
}

.buying__text {
  font-size: 18px;
  line-height: 150%;
  max-width: 33.5rem;
  margin-bottom: 2.875rem;
}

.buying__buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
}

.buying__button a {
  height: 100%;
}

.buying__button a .app-store {
  margin-top: -1px;
}

.buying__button img {
  height: 100%;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.buying__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 10px 32px;
  position: absolute;
  bottom: -40px;
  width: 761px;
  height: 80px;
  border: 1px solid #E4E4E4;
  background: #FFF;
  font-size: 20px;
  line-height: 20px;
  -webkit-box-shadow: 0px 15px 75px rgba(55, 55, 55, 0.1);
          box-shadow: 0px 15px 75px rgba(55, 55, 55, 0.1);
  border-radius: 50px;
  z-index: 10;
}

.buying__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 84%;
          flex: 1 1 84%;
  height: 100%;
  outline: none;
  background-color: #fff !important;
}

.buying__input:active {
  background-color: #fff !important;
}

.buying__search-button {
  width: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  height: 60px;
  margin-left: 15px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/icons/search.svg") center center no-repeat;
  background-color: #A00000;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.buying__search-button:active {
  cursor: pointer;
  background-color: #0C2434;
}

.buying__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
}

.buying__image img {
  position: absolute;
  width: 130%;
  left: -21%;
  top: 12%;
}

.buying__bg-black {
  position: absolute;
  top: 10px;
  height: 110%;
  width: 100%;
  background: url(../img/bg-tire-first.png) right bottom no-repeat;
  background-color: #0C2434;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

/* ======== End of FIRST SECTION ======== */

/* ========== SELECT VEHICLE TYPES ========== */

.vehicle-types {
  padding-top: 2.8125rem;
}

.vehicle-types__container {
  overflow: visible;
}

.vehicle-types__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vehicle-types__title {
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #0C2434;
}

.vehicle-types__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.vehicle-types__swiper-buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.vehicle-types__swiper-buttons .vehicle-types__button-prev,
.vehicle-types__swiper-buttons .vehicle-types__button-next {
  display: none;
}

.vehicle-types__swiper-buttons .vehicle-types__button-prev:active,
.vehicle-types__swiper-buttons .vehicle-types__button-next:active {
  border: 1px solid #A00000;
  background-color: #A00000;
  color: #FFFFFF;
  cursor: pointer;
}

.vehicle-types__swiper-buttons .vehicle-types__button-prev span::before,
.vehicle-types__swiper-buttons .vehicle-types__button-prev span::after,
.vehicle-types__swiper-buttons .vehicle-types__button-next span::before,
.vehicle-types__swiper-buttons .vehicle-types__button-next span::after {
  content: "";
  display: block;
  height: 13px;
  width: 2px;
  margin-left: -2px;
  background-color: #717171;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.vehicle-types__swiper-buttons .vehicle-types__button-prev span::before,
.vehicle-types__swiper-buttons .vehicle-types__button-next span::before {
  content: "";
  -webkit-transform: rotate(42deg);
      -ms-transform: rotate(42deg);
          transform: rotate(42deg);
  margin-bottom: -4px;
}

.vehicle-types__swiper-buttons .vehicle-types__button-prev span::after,
.vehicle-types__swiper-buttons .vehicle-types__button-next span::after {
  content: "";
  -webkit-transform: rotate(-42deg);
      -ms-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

.vehicle-types__swiper-buttons .vehicle-types__button-next span::before,
.vehicle-types__swiper-buttons .vehicle-types__button-next span::after {
  content: "";
  margin-left: 2px;
}

.vehicle-types__swiper-buttons .vehicle-types__button-next span::before {
  content: "";
  -webkit-transform: rotate(-42deg);
      -ms-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

.vehicle-types__swiper-buttons .vehicle-types__button-next span::after {
  content: "";
  -webkit-transform: rotate(42deg);
      -ms-transform: rotate(42deg);
          transform: rotate(42deg);
}

.vehicle-types__choice {
  width: 1550px;
  min-width: 1550px;
}

.vehicle-types__slide.swiper-slide {
  padding: 2.8125rem 0;
}

.vehicle-types__card {
  background: #EEF2F6;
  border-radius: 10px;
  padding: 0.625rem 0.625rem 1.25rem 0.625rem;
  width: 212px;
}

.vehicle-types__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vehicle-types__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #0C2434;
}

.vehicle-types__number {
  padding: 2px 8px;
  background: #FFFFFF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vehicle-types__number span {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #8FA2E3;
}

.vehicle-types__img {
  padding: 0.9375rem auto 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vehicle-types__img .car-white {
  display: block;
}

.vehicle-types__img .car-black {
  display: none;
}

.filters-button {
  width: 101px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.filters-button__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #0C2434;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.filters-button__img {
  display: block;
}

.filters-button__img-white {
  display: none;
}

.filters-button:active {
  background: #0C2434;
}

.filters-button:active__text {
  color: #FFFFFF;
}

/* ======== End of SELECT VEHICLE TYPES ======== */

/* ========== FEATURED HEADER ========== */

.featured__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  margin-bottom: 1.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__title {
  display: none;
}

.featured__switch {
  padding: 0.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  border: 1px solid #E4E4E4;
  border-radius: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured__button {
  border-radius: 30px;
  padding: 12px 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0C2434;
}

.featured__button_active {
  background: #EEF2F6;
}

/* ======== End of FEATURED HEADER ======== */

/* ========== CARDS ========== */

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

.cards__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 10px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1.25rem;
}

.card__image {
  border-radius: 10px;
  margin-bottom: auto;
  overflow: hidden;
  position: relative;
}

.card__image img {
  width: 100%;
}

.card__description {
  padding: 0.875rem 0.625rem 0rem 0.625rem;
}

.card__favorites {
  width: 24px;
  height: 24px;
  background: url("../img/icons/grey-heart.svg") center center no-repeat;
  position: absolute;
  top: 1.0625rem;
  right: 1rem;
}

.card__favorites_selected {
  background: url("../img/icons/red-heart.svg") center center no-repeat;
}

.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  color: #0C2434;
  font-size: 1rem;
  line-height: 125%;
}

.card__price {
  margin-top: 0.5rem;
  color: #0C2434;
  font-size: 1rem;
  line-height: 125%;
  font-weight: 500;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-top: 0.875rem;
  padding: 0.625rem 0;
  border-top: 1px solid #EEF2F6;
  font-size: 13px;
  line-height: 20px;
}

.card__bottom img {
  height: 13px;
  margin-right: 0.375rem;
}

.card__mileage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__fuel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__transmission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ======== End of CARDS ======== */

/* ========== BUTTON LOAD MORE ========== */

.more-btn {
  border: 1px solid #E4E4E4;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 1.625rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  -webkit-transition: background-color 0.2s ease 0s;
  -o-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
}

.more-btn span {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #0C2434;
}

.more-btn img {
  width: 24px;
  height: 24px;
}

/* ======== End of BUTTON LOAD MORE ======== */

/* ========== RIGH WAY ========== */

.right-way {
  background: #EEF2F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-way img {
  width: 100%;
  height: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.right-way__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-bottom: 2.5rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.right-way__title {
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: #0C2434;
}

.right-way__title span {
  white-space: nowrap;
}

.right-way__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-way__image {
  display: none;
}

.right-way__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.right-way__text {
  font-size: 1.125rem;
  line-height: 150%;
}

.right-way li:not(:last-child) {
  margin-bottom: 1.25rem;
}

.right-way__item {
  margin-left: 4.375rem;
  position: relative;
}

.right-way__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  background: url("../img/icons/deal.svg") center center no-repeat;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 75px rgba(69, 69, 69, 0.1);
          box-shadow: 0px 15px 75px rgba(69, 69, 69, 0.1);
  border-radius: 10px;
}

.right-way__list-title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 110%;
  color: #0C2434;
  margin-bottom: 0.75rem;
}

.right-way__list-text {
  font-size: 0.9375rem;
  line-height: 150%;
  max-width: 22.5625rem;
}

/* ======== End of RIGH WAY ======== */

/* ========== FEEDBACK ========== */

.feedback__header {
  position: relative;
  padding-bottom: 3.125rem;
}

.feedback__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #0C2434;
  margin-bottom: 1.0625rem;
}

.feedback__text {
  font-size: 18px;
  line-height: 150%;
}

.feedback__item {
  height: 100%;
}

.swiper-slide {
  padding: 0 1px;
}

.item-feedback {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 0 0 0 1px;
}

.item-feedback__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
  gap: 20px;
}

.item-feedback__photo {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 6px;
}

.item-feedback__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.item-feedback__rating img {
  width: 1.5rem;
  height: 1.5rem;
}

.item-feedback__name {
  font-weight: 500;
  font-size: 22px;
  line-height: 110%;
  color: #0C2434;
  margin-bottom: 0.75rem;
}

.item-feedback__text {
  line-height: 150%;
  font-size: 0.9375rem;
}

.feedback-button-prev,
.feedback-button-next {
  display: none;
}

.feedback-button-prev:active,
.feedback-button-next:active {
  border: 1px solid #A00000;
  background-color: #A00000;
  color: #FFFFFF;
  cursor: pointer;
}

.feedback-button-prev span::before,
.feedback-button-prev span::after,
.feedback-button-next span::before,
.feedback-button-next span::after {
  content: "";
  display: block;
  height: 13px;
  width: 2px;
  margin-left: -2px;
  background-color: #717171;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.feedback-button-prev span::before,
.feedback-button-next span::before {
  content: "";
  -webkit-transform: rotate(42deg);
      -ms-transform: rotate(42deg);
          transform: rotate(42deg);
  margin-bottom: -4px;
}

.feedback-button-prev span::after,
.feedback-button-next span::after {
  content: "";
  -webkit-transform: rotate(-42deg);
      -ms-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

.feedback-button-prev {
  right: 60px;
}

.feedback-button-next {
  right: 0;
}

.feedback-button-next span::before,
.feedback-button-next span::after {
  content: "";
  margin-left: 2px;
}

.feedback-button-next span::before {
  content: "";
  -webkit-transform: rotate(-42deg);
      -ms-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

.feedback-button-next span::after {
  content: "";
  -webkit-transform: rotate(42deg);
      -ms-transform: rotate(42deg);
          transform: rotate(42deg);
}

.feedback-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 1.25rem;
}

.feedback-pagination .swiper-pagination-bullet {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #EEF2F6;
}

.feedback-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #0C2434;
}

/* ======== End of FEEDBACK ======== */

/* ========== SECTION ON THE GO ========== */

.on-the-go__body {
  padding: 3.125rem;
  background: url("../img/bg-tire.png") right center no-repeat;
  background-color: #0C2434;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

.on-the-go__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.on-the-go__title {
  margin-bottom: 1.875rem;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  max-width: 28.125rem;
}

.on-the-go__title span {
  white-space: nowrap;
}

.on-the-go__text {
  margin-bottom: 2.5rem;
  font-size: 1.0625rem;
  line-height: 150%;
  color: #E4E4E4;
  max-width: 28.75rem;
}

.on-the-go__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
}

.on-the-go__button a {
  height: 100%;
}

.on-the-go__button a .app-store {
  margin-top: -1px;
}

.on-the-go__button img {
  height: 100%;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.on-the-go__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
}

.on-the-go__image img {
  position: absolute;
  bottom: -3.125rem;
  height: 170%;
  left: 17%;
}

/* ======== End of SECTION ON THE GO ======== */

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 28.125em) {
  .footer-links__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
    text-align: left;
  }

  .footer-links__block_big {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }

  .footer-links__block_small {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }

  .footer-form {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 316px;
            flex: 1 0 316px;
    text-align: left;
  }

  .footer-form__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 316px;
            flex: 0 1 316px;
  }
}

@media (min-width: 29.99875em) {
  .buying__content {
    padding-bottom: 50px;
  }

  .featured__header {
    margin-bottom: 1.875rem;
  }

  .featured__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.04em;
    color: #0C2434;
    display: block;
  }

  .cards__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .right-way__text {
    font-size: 1.25rem;
  }

  .right-way__item {
    margin-left: 5.3125rem;
  }

  .right-way__item::before {
    left: -85px;
  }

  .right-way__list-title {
    font-size: 1.375rem;
  }

  .right-way__list-text {
    font-size: 1.0625rem;
  }

  .feedback__header {
    padding-bottom: 2.5rem;
  }

  .feedback__text {
    font-size: 20px;
  }

  .item-feedback__text {
    font-size: 1.0625rem;
  }
}

@media (min-width: 37.5em) {
  .footer-links__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 26%;
            flex: 0 1 26%;
  }

  .footer-links__block_big {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 26%;
            flex: 1 1 26%;
  }

  .footer-links__block_small {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 26%;
            flex: 0 1 26%;
  }
}

@media (min-width: 47.99875em) {
  .footer-form {
    padding-top: 0;
  }

  .vehicle-types__swiper-buttons .vehicle-types__button-prev,
  .vehicle-types__swiper-buttons .vehicle-types__button-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 3.125rem;
    height: 3.125rem;
    border: 1px solid #E4E4E4;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .featured__title {
    font-size: 32px;
  }

  .cards__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }

  .right-way img {
    width: 75%;
  }

  .right-way li:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .feedback-button-prev,
  .feedback-button-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    width: 3.125rem;
    height: 3.125rem;
    border: 1px solid #E4E4E4;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
}

@media (min-width: 56.25em) {
  .footer-links__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 29%;
            flex: 0 1 29%;
  }

  .footer-links__block_big {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 29%;
            flex: 0 1 29%;
  }

  .footer-links__block_small {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 29%;
            flex: 0 1 29%;
  }

  .on-the-go__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 61.99875em) {
  .buying__content {
    position: relative;
    padding-bottom: 10.3125rem;
    padding-right: 7.5rem;
  }

  .cards__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  .right-way {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .right-way img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 45%;
  }

  .right-way__container {
    -webkit-transform: translate(-45%, 0);
        -ms-transform: translate(-45%, 0);
            transform: translate(-45%, 0);
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .right-way__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    display: block;
  }

  .right-way__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 68.75em) {
  .on-the-go__body {
    padding: 5rem;
  }

  .on-the-go__image img {
    left: 14%;
    bottom: -5rem;
    height: 180%;
  }
}

@media (min-width: 71.875em) {
  .footer-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer-links {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .footer-links__block_big {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .footer-links__block_small {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}

@media (min-width: 88.125em) {
  .footer-top {
    padding-top: 5rem;
  }

  .buying {
    margin-bottom: 8.4375rem;
  }

  .buying__title {
    font-size: 5rem;
  }

  .buying__title {
    margin-bottom: 2.9375rem;
  }

  .buying__button {
    height: 3.625rem;
  }

  .buying__button a .app-store {
    height: 3.75rem;
  }

  .vehicle-types__title {
    font-size: 2rem;
  }

  .featured__container {
    padding-bottom: 7.5rem;
  }

  .right-way {
    padding-top: 5.3125rem;
  }

  .right-way {
    padding-bottom: 2.8125rem;
  }

  .right-way__title {
    font-size: 3.375rem;
  }

  .right-way__title {
    margin-bottom: 1.875rem;
  }

  .right-way__text {
    margin-bottom: 2.5rem;
  }

  .feedback__container {
    padding-top: 7.5rem;
  }

  .feedback__container {
    padding-bottom: 11.6875rem;
  }

  .on-the-go__title {
    font-size: 3.375rem;
  }

  .on-the-go__button {
    height: 3.625rem;
  }

  .on-the-go__button a .app-store {
    height: 3.75rem;
  }
}

@media (max-width: 75em) {
  .buying__image img {
    left: -23%;
  }
}

@media (max-width: 20em) {
  .footer-top {
    padding-top: 1.5625rem;
  }

  .buying {
    margin-bottom: 4.0625rem;
  }

  .buying__title {
    font-size: 3rem;
  }

  .buying__title {
    margin-bottom: 0.9375rem;
  }

  .buying__button {
    height: 2.625rem;
  }

  .buying__button a .app-store {
    height: 2.75rem;
  }

  .vehicle-types__title {
    font-size: 1.25rem;
  }

  .featured__container {
    padding-bottom: 3.125rem;
  }

  .right-way {
    padding-top: 2.5rem;
  }

  .right-way {
    padding-bottom: 1.25rem;
  }

  .right-way__title {
    font-size: 2.125rem;
  }

  .right-way__title {
    margin-bottom: 0.625rem;
  }

  .right-way__text {
    margin-bottom: 1.5625rem;
  }

  .feedback__container {
    padding-top: 3.125rem;
  }

  .feedback__container {
    padding-bottom: 3.125rem;
  }

  .on-the-go__title {
    font-size: 2.125rem;
  }

  .on-the-go__button {
    height: 2.625rem;
  }

  .on-the-go__button a .app-store {
    height: 2.75rem;
  }
}

@media (max-width: 61.99875em) {
  .buying__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }

  .buying__form {
    width: 100%;
  }

  .buying__image img {
    position: relative;
    width: 100%;
    left: auto;
    top: auto;
    margin-top: 1.5625rem;
    margin-bottom: 3.75rem;
  }

  .buying__bg-black {
    height: 100%;
    width: 103vw;
    top: 0;
    left: -20px;
    right: -20px;
    border-radius: 0;
  }
}

@media (max-width: 59.375em) {
  .footer-center {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer-nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer-social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 56.25em) {
  .on-the-go__title {
    max-width: 100%;
  }

  .on-the-go__text {
    max-width: 100%;
  }

  .on-the-go__image img {
    position: relative;
    left: auto;
    right: auto;
    height: initial;
    width: 70%;
    max-width: 23.75rem;
    display: block;
    margin: auto auto 0 auto;
  }
}

@media (max-width: 47.99875em) {
  .buying__decor {
    display: none;
  }

  .vehicle-types__swiper-buttons {
    display: none;
  }

  .on-the-go__container {
    padding: 0;
  }
}

@media (max-width: 31.25em) {
  .footer-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-social {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 29.99875em) {
  .buying__text {
    font-size: 16px;
  }

  .buying__buttons {
    display: none;
  }

  .buying__form {
    height: 50px;
    padding: 8px 6px 8px 15px;
  }

  .buying__search-button {
    width: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 40px;
  }

  .vehicle-types__choice {
    width: 1030px;
    min-width: 1030px;
  }

  .vehicle-types__card {
    width: 140px;
  }

  .featured__switch {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .on-the-go__body {
    padding: 2.5rem 1.25rem 3.125rem 1.25rem;
  }
}

@media (max-width: 20.9375em) {
  .footer-form {
    max-width: 300px;
  }
}

@media (min-width: 20em) and (max-width: 88.125em) {
@supports (padding-top: clamp( 1.5625rem , 0.5533256881rem  +  5.0458715596vw , 5rem )) {
    .footer-top {
      padding-top: clamp( 1.5625rem , 0.5533256881rem  +  5.0458715596vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.5533256881rem  +  5.0458715596vw , 5rem )) {
    .footer-top {
      padding-top: calc(1.5625rem + 3.4375 * (100vw - 20rem) / 68.125);
    }
}

@supports (margin-bottom: clamp( 4.0625rem , 2.7780963303rem  +  6.4220183486vw , 8.4375rem )) {
    .buying {
      margin-bottom: clamp( 4.0625rem , 2.7780963303rem  +  6.4220183486vw , 8.4375rem );
    }
}

@supports not (margin-bottom: clamp( 4.0625rem , 2.7780963303rem  +  6.4220183486vw , 8.4375rem )) {
    .buying {
      margin-bottom: calc(4.0625rem + 4.375 * (100vw - 20rem) / 68.125);
    }
}

@supports (font-size: clamp( 3rem , 2.4128440367rem  +  2.9357798165vw , 5rem )) {
    .buying__title {
      font-size: clamp( 3rem , 2.4128440367rem  +  2.9357798165vw , 5rem );
    }
}

@supports not (font-size: clamp( 3rem , 2.4128440367rem  +  2.9357798165vw , 5rem )) {
    .buying__title {
      font-size: calc(3rem + 2 * (100vw - 20rem) / 68.125);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.3503440367rem  +  2.9357798165vw , 2.9375rem )) {
    .buying__title {
      margin-bottom: clamp( 0.9375rem , 0.3503440367rem  +  2.9357798165vw , 2.9375rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.3503440367rem  +  2.9357798165vw , 2.9375rem )) {
    .buying__title {
      margin-bottom: calc(0.9375rem + 2 * (100vw - 20rem) / 68.125);
    }
}

@supports (height: clamp( 2.625rem , 2.3314220183rem  +  1.4678899083vw , 3.625rem )) {
    .buying__button {
      height: clamp( 2.625rem , 2.3314220183rem  +  1.4678899083vw , 3.625rem );
    }
}

@supports not (height: clamp( 2.625rem , 2.3314220183rem  +  1.4678899083vw , 3.625rem )) {
    .buying__button {
      height: calc(2.625rem + 1 * (100vw - 20rem) / 68.125);
    }
}

@supports (height: clamp( 2.75rem , 2.4564220183rem  +  1.4678899083vw , 3.75rem )) {
    .buying__button a .app-store {
      height: clamp( 2.75rem , 2.4564220183rem  +  1.4678899083vw , 3.75rem );
    }
}

@supports not (height: clamp( 2.75rem , 2.4564220183rem  +  1.4678899083vw , 3.75rem )) {
    .buying__button a .app-store {
      height: calc(2.75rem + 1 * (100vw - 20rem) / 68.125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.0298165138rem  +  1.1009174312vw , 2rem )) {
    .vehicle-types__title {
      font-size: clamp( 1.25rem , 1.0298165138rem  +  1.1009174312vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0298165138rem  +  1.1009174312vw , 2rem )) {
    .vehicle-types__title {
      font-size: calc(1.25rem + 0.75 * (100vw - 20rem) / 68.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.8405963303rem  +  6.4220183486vw , 7.5rem )) {
    .featured__container {
      padding-bottom: clamp( 3.125rem , 1.8405963303rem  +  6.4220183486vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.8405963303rem  +  6.4220183486vw , 7.5rem )) {
    .featured__container {
      padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 68.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.6743119266rem  +  4.128440367vw , 5.3125rem )) {
    .right-way {
      padding-top: clamp( 2.5rem , 1.6743119266rem  +  4.128440367vw , 5.3125rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.6743119266rem  +  4.128440367vw , 5.3125rem )) {
    .right-way {
      padding-top: calc(2.5rem + 2.8125 * (100vw - 20rem) / 68.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7912844037rem  +  2.2935779817vw , 2.8125rem )) {
    .right-way {
      padding-bottom: clamp( 1.25rem , 0.7912844037rem  +  2.2935779817vw , 2.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7912844037rem  +  2.2935779817vw , 2.8125rem )) {
    .right-way {
      padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 68.125);
    }
}

@supports (font-size: clamp( 2.125rem , 1.7580275229rem  +  1.8348623853vw , 3.375rem )) {
    .right-way__title {
      font-size: clamp( 2.125rem , 1.7580275229rem  +  1.8348623853vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.7580275229rem  +  1.8348623853vw , 3.375rem )) {
    .right-way__title {
      font-size: calc(2.125rem + 1.25 * (100vw - 20rem) / 68.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.2580275229rem  +  1.8348623853vw , 1.875rem )) {
    .right-way__title {
      margin-bottom: clamp( 0.625rem , 0.2580275229rem  +  1.8348623853vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.2580275229rem  +  1.8348623853vw , 1.875rem )) {
    .right-way__title {
      margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 68.125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.2872706422rem  +  1.376146789vw , 2.5rem )) {
    .right-way__text {
      margin-bottom: clamp( 1.5625rem , 1.2872706422rem  +  1.376146789vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.2872706422rem  +  1.376146789vw , 2.5rem )) {
    .right-way__text {
      margin-bottom: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 68.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.8405963303rem  +  6.4220183486vw , 7.5rem )) {
    .feedback__container {
      padding-top: clamp( 3.125rem , 1.8405963303rem  +  6.4220183486vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.8405963303rem  +  6.4220183486vw , 7.5rem )) {
    .feedback__container {
      padding-top: calc(3.125rem + 4.375 * (100vw - 20rem) / 68.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 0.6112385321rem  +  12.5688073394vw , 11.6875rem )) {
    .feedback__container {
      padding-bottom: clamp( 3.125rem , 0.6112385321rem  +  12.5688073394vw , 11.6875rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.6112385321rem  +  12.5688073394vw , 11.6875rem )) {
    .feedback__container {
      padding-bottom: calc(3.125rem + 8.5625 * (100vw - 20rem) / 68.125);
    }
}

@supports (font-size: clamp( 2.125rem , 1.7580275229rem  +  1.8348623853vw , 3.375rem )) {
    .on-the-go__title {
      font-size: clamp( 2.125rem , 1.7580275229rem  +  1.8348623853vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.7580275229rem  +  1.8348623853vw , 3.375rem )) {
    .on-the-go__title {
      font-size: calc(2.125rem + 1.25 * (100vw - 20rem) / 68.125);
    }
}

@supports (height: clamp( 2.625rem , 2.3314220183rem  +  1.4678899083vw , 3.625rem )) {
    .on-the-go__button {
      height: clamp( 2.625rem , 2.3314220183rem  +  1.4678899083vw , 3.625rem );
    }
}

@supports not (height: clamp( 2.625rem , 2.3314220183rem  +  1.4678899083vw , 3.625rem )) {
    .on-the-go__button {
      height: calc(2.625rem + 1 * (100vw - 20rem) / 68.125);
    }
}

@supports (height: clamp( 2.75rem , 2.4564220183rem  +  1.4678899083vw , 3.75rem )) {
    .on-the-go__button a .app-store {
      height: clamp( 2.75rem , 2.4564220183rem  +  1.4678899083vw , 3.75rem );
    }
}

@supports not (height: clamp( 2.75rem , 2.4564220183rem  +  1.4678899083vw , 3.75rem )) {
    .on-the-go__button a .app-store {
      height: calc(2.75rem + 1 * (100vw - 20rem) / 68.125);
    }
}
}

@media (any-hover: hover) {
  .footer-links li:hover {
    font-weight: 500;
    letter-spacing: -0.25px;
  }

  .footer-form .button:hover {
    background: #A00000;
  }

  .footer-logo:hover {
    opacity: 1;
  }

  .footer-nav ul li:hover {
    opacity: 1;
  }

  .footer-social a:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .buying__button img:hover {
    -webkit-transform: translate(0, -2px);
        -ms-transform: translate(0, -2px);
            transform: translate(0, -2px);
  }

  .buying__search-button:hover {
    cursor: pointer;
    background-color: #0C2434;
  }

  .vehicle-types__swiper-buttons .vehicle-types__button-prev:hover,
  .vehicle-types__swiper-buttons .vehicle-types__button-next:hover {
    border: 1px solid #0C2434;
    background-color: #0C2434;
    color: #FFFFFF;
    cursor: pointer;
  }

  .vehicle-types__swiper-buttons .vehicle-types__button-prev:hover span::before,
  .vehicle-types__swiper-buttons .vehicle-types__button-prev:hover span::after,
  .vehicle-types__swiper-buttons .vehicle-types__button-next:hover span::before,
  .vehicle-types__swiper-buttons .vehicle-types__button-next:hover span::after {
    content: "";
    background-color: #FFFFFF;
  }

  .vehicle-types__card:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 25px 25px rgba(189, 189, 189, 0.1);
            box-shadow: 0px 25px 25px rgba(189, 189, 189, 0.1);
  }

  .vehicle-types__card:hover .car-white {
    display: none;
  }

  .vehicle-types__card:hover .car-black {
    display: block;
  }

  .filters-button:hover {
    background: #0C2434;
    cursor: pointer;
  }

  .filters-button:hover .filters-button__img {
    display: none;
  }

  .filters-button:hover .filters-button__img-white {
    display: block;
  }

  .filters-button:hover .filters-button__text {
    color: #FFFFFF;
  }

  .featured__button:hover {
    font-weight: 700;
    letter-spacing: -0.25px;
  }

  .more-btn:hover {
    background: #EEF2F6;
  }

  .more-btn:hover img {
    -webkit-transform: rotate(2520deg);
        -ms-transform: rotate(2520deg);
            transform: rotate(2520deg);
    -webkit-transition: -webkit-transform 9s ease 0s;
    transition: -webkit-transform 9s ease 0s;
    -o-transition: transform 9s ease 0s;
    transition: transform 9s ease 0s;
    transition: transform 9s ease 0s, -webkit-transform 9s ease 0s;
  }

  .more-btn:active {
    background: #0C2434;
  }

  .more-btn:active span {
    color: #fff;
  }

  .feedback-button-prev:hover,
  .feedback-button-next:hover {
    border: 1px solid #0C2434;
    background-color: #0C2434;
    color: #FFFFFF;
    cursor: pointer;
  }

  .feedback-button-prev:hover span::before,
  .feedback-button-prev:hover span::after,
  .feedback-button-next:hover span::before,
  .feedback-button-next:hover span::after {
    content: "";
    background-color: #FFFFFF;
  }

  .on-the-go__button img:hover {
    -webkit-transform: translate(0, -2px);
        -ms-transform: translate(0, -2px);
            transform: translate(0, -2px);
  }
}